.bracket-page{

padding:40px;
background:#0f172a;
min-height:100vh;
color:white;

}


.bracket-page h1{

text-align:center;
margin-bottom:40px;
font-size:35px;

}


.bracket{

display:grid;
grid-template-columns:repeat(4,260px);
justify-content:center;
column-gap:90px;
align-items:flex-start;
overflow-x:auto;
padding:40px;

}

.round{

display:flex;
flex-direction:column;
gap:20px;
align-items:center;

}


.round h2{

text-align:center;
color:#f59e0b;

}

.match{

width:220px;
min-height:110px;

background:white;
color:#111827;

padding:15px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.3);

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

text-align:center;

}


.match p{

width:100%;
text-align:center;
margin:5px 0;
font-weight:bold;

}



.match span{

display:block;
background:#2563eb;
color:white;
padding:5px;
border-radius:8px;
font-weight:bold;

}



.finale .match{

border:3px solid #f59e0b;

}



.champion{

animation:championGlow 2s infinite;

}



@keyframes championGlow{

0%{

box-shadow:0 0 5px #f59e0b;

}


50%{

box-shadow:0 0 25px #f59e0b;

}


100%{

box-shadow:0 0 5px #f59e0b;

}


}



@media(max-width:900px){


.bracket{

grid-template-columns:1fr;

}


}

.champion h3{

color:#f59e0b;
font-size:22px;

}


.final-players{

font-size:14px;
color:#64748b;

}

/* Connexions entre les tours */

.round:not(:last-child) .match::after{

content:"";
position:absolute;

right:-30px;
top:50%;

width:30px;
height:2px;

background:#f59e0b;

}



.round:not(:last-child) .match::before{

content:"";
position:absolute;

right:-30px;

height:60%;

border-right:2px solid #f59e0b;

top:20%;

}



/* Alignement des tours */

.round:nth-child(1){

padding-top:0;

}

.round:nth-child(2){

padding-top:50px;

}

.round:nth-child(3){

padding-top:110px;

}

.round:nth-child(4){

padding-top:170px;

}