.dashboard{

min-height:100vh;

background:#0F172A;

padding:50px;

color:white;

}


.dashboard h1{

text-align:center;

margin-bottom:40px;

}


.dashboard-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}


.dashboard-card{

background:#1E293B;

padding:25px;

border-radius:15px;

}


.dashboard-card h2{

color:#2563EB;

margin-bottom:20px;

}


.dashboard-card p{

color:#CBD5E1;

margin:10px 0;

}


.dashboard-card button{

margin-top:15px;

padding:12px;

width:100%;

background:#2563EB;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

}



@media(max-width:768px){

.dashboard{

padding:20px;

}


.dashboard-container{

grid-template-columns:1fr;

}

}