.footer{

background:#020617;

color:white;

padding:50px 80px 20px;

}


.footer-content{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;

}


.footer h2{

color:#2563EB;

}


.footer h3{

margin-bottom:20px;

}


.footer p,
.footer a{

color:#CBD5E1;

text-decoration:none;

margin-bottom:10px;

display:block;

}


.footer a:hover{

color:#2563EB;

}


.copyright{

text-align:center;

margin-top:40px;

padding-top:20px;

border-top:1px solid #1E293B;

color:#94A3B8;

}
/* Tablettes */
@media(max-width:1024px){

.footer{

    padding:35px 30px;

}

.footer-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    flex-wrap:wrap;

    gap:30px;

}

.footer-logo,
.footer-links,
.footer-contact,
.footer-social{

    width:45%;

}

}

/* Téléphones */
@media(max-width:600px){

.footer{

    padding:30px 20px;

}

.footer-content{

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

}

.footer-logo,
.footer-links,
.footer-contact,
.footer-social{

    width:100%;

}

}

.footer-contact a {
    color: inherit;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #2563EB;
    text-decoration: underline;
}