.login-page{

min-height:100vh;

background:#0F172A;

display:flex;

justify-content:center;

align-items:center;

}


.login-box{

background:#1E293B;

padding:40px;

border-radius:15px;

width:400px;

display:flex;

flex-direction:column;

gap:20px;

}


.login-box h1{

color:white;

text-align:center;

}


.login-box input{

padding:14px;

border:none;

border-radius:8px;

background:#0F172A;

color:white;

}


.login-box button{

padding:14px;

border:none;

border-radius:8px;

background:#2563EB;

color:white;

font-size:16px;

cursor:pointer;

}


.login-box p{

color:#CBD5E1;

text-align:center;

}