.payment-page{

min-height:100vh;

background:#0F172A;

display:flex;

justify-content:center;

align-items:center;

}


.payment-box{

background:#1E293B;

padding:40px;

width:400px;

border-radius:15px;

color:white;

text-align:center;

}


.payment-box h1{

color:#2563EB;

margin-bottom:25px;

}


.payment-box p{

margin:15px 0;

color:#CBD5E1;

}


.payment-box button{

width:100%;

padding:14px;

margin-top:15px;

border:none;

border-radius:8px;

background:#2563EB;

color:white;

cursor:pointer;

font-size:16px;

}


.payment-box .confirm{

background:#22C55E;

}