.register-page{

min-height:100vh;

background:#0F172A;

display:flex;

justify-content:center;

align-items:center;

}


.register-box{

background:#1E293B;

padding:40px;

border-radius:15px;

width:400px;

display:flex;

flex-direction:column;

gap:15px;

}


.register-box h1{

color:white;

text-align:center;

margin-bottom:20px;

}


.register-box input{

padding:14px;

border:none;

border-radius:8px;

background:#0F172A;

color:white;

}


.register-box button{

padding:14px;

border:none;

border-radius:8px;

background:#2563EB;

color:white;

font-size:16px;

cursor:pointer;

}


.register-box button:hover{

background:#1D4ED8;

}