.tournaments-page{

min-height:100vh;

background:#0F172A;

padding:50px;

color:white;

}


.tournaments-page h1{

text-align:center;

margin-bottom:40px;

}


.tournaments-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}