.details-page{

padding:40px;
text-align:center;

}


.details-card{

background:white;
max-width:500px;
margin:auto;
padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.15);

}


.details-card p{

font-size:18px;
margin:15px;

}


.details-card button{

margin-top:20px;

padding:12px 25px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}


.details-card button:hover{

background:#1d4ed8;

}

.bracket-btn{

background:#2563eb;
color:white;

border:none;

padding:12px 20px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

margin-top:20px;

}


.champion-box{

background:#fbbf24;

padding:20px;

border-radius:15px;

margin-top:20px;

font-weight:bold;

}
.champion-box{

margin:30px 0;
padding:25px;
border-radius:15px;
text-align:center;

background:linear-gradient(
135deg,
#FFD700,
#F59E0B
);

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.champion-icon{

font-size:55px;
margin-bottom:10px;

}

.champion-box h2{

margin:0;
font-size:22px;

}

.champion-box h1{

margin:10px 0;
font-size:35px;
font-weight:bold;

}

.champion-box p{

margin-top:8px;
font-size:16px;
opacity:.95;

}